<%if(message && message.length) {%>
    <p style="background-color: lightblue; text-align: center;"> <%=message%></p>
<%}%>

<%if(errMessage && errMessage.length) {%>
    <p style="background-color: red; text-align: center;"> <%=errMessage%></p>
<%}%>