<footer class="footer">
    <div class="f-info">
        <div class="f-info-socials">
            <a href="">facebook</a>
            <a href="">instagram</a>
            <a href="">linkedin</a>
        </div>
        <div>&copy; Rental Room</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>