<nav class="nav">
  <div class="nav-l">
    <a   href="/"><span class="material-symbols-outlined">home</span></a>
    <a  href="/listings">All Rooms</a>
    <%if(currentUser && currentUser.username === 'dheeraj') {%>
      <a  href="/listings/new">Add New Room</a>
    <%}%>
  </div>
  <div class="nav-r">
    <%if(!currentUser) {%>
      <a   href="/signup">sign up</a>
      <a  href="/login">login</a>
    <%}%> 
    <% if(currentUser) {%>
      <div >
        <a  href="/logout">logout</a>
        <div style="color: red;">@<%=currentUser.username%></div>
      </div>
    <%}%>
  </div>
</nav>