<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rentalRoom</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel = "stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/show.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="stylesheet" href="/css/add.css">
    <style>
        * {
            box-sizing: border-box;
        }
        button {
            border: none;
            padding: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <%-include('../includes/navbar.ejs')%>
    <div class="container">
        <%-include('../includes/flashMessage.ejs')%>
        <%-body%>
    </div>
    <%-include('../includes/footer.ejs')%>
</body>
</html>