.login-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: deeppink;
    margin: 0 25vw;
    padding: 10px;
}
.login-page input {
    outline: none;
    border: none;
    padding: 4px;
}
.login-page button {
    background-color: blue;
    color: white;
}
@media only screen and (max-width: 400px) {
    .login-page {
        margin: 0;
    }
}